body{
    background-color: white;
}
.vroom{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 430px;
}
.Cave{
  height: 150px;
  margin-left: 30.5%;
  margin-right: 25%;
}
.SMRWeb{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 210px;
}
#comment-box{
  height: 32.1px;
  border: solid;
  border-color: lightslategray;
  border-radius: 40px;
  margin: center;
}
.post{
height: 40px;
border: solid;
border-color: lightslategray;
border-radius: 40px;
margin: center;
}
#post:hover{
  background-color: #777;
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  ::placeholder {
    margin-left: 50%;
    margin-right: 50%;
    color: rgb(10, 10, 10);
    opacity: 0.7; 
  }

  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  
.Cool{
    background-color: grey;
}
.toot_god{
    height: 60%;
    width: 60%;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
h3{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.lawn{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 131px;
}
