body {
    background-color: blue;
    color:red;
}
h1 {
    font-size: xx-large;
    color: hotpink;
}
h2 {
    font-size: x-large;
    color: blue;
}
h3 {
    font-size: large;
    color: red;
}
li {
    font-size: medium;
    color: red;
}
.cool {
    width: 41%;
    height: auto;
}