body {
    background-color: crimson;
    color:blue;
    font-family: 'Lora', serif;
}
a{
    color: blue;
}

* {
    margin: 0;
    padding: 0;
  }
  
  nav{
      width: 100%;
      height: 100px;
      background-color: hotpink;
  }
  
  ul li {
   list-style: none;
   display:inline-block;
   line-height: 100px;
  }
  
  ul li a {
      display: block;
      text-decoration: none;
      font-size: 14px;
      font-family: arial;
      padding: 0 20px;
  }